/build/
/dist/
/CMakeUserPresets.json
/private/
/compile.sh.dat
/Gemfile.lock
/bin/ext/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk
